<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laowei.mapper.StudentMapper" >
  	<select id="queryStudent" resultType="student">
  		select * from student
  	</select>

	<select id="queryStudentByName" parameterType="String" resultType="student">
		SELECT  * FROM student WHERE name= #{name}
	</select>

</mapper>